.idea/
node_modules/
package-lock.json
./client/node_modules/
./client/coverage/
./client/src/test/department/__snapshots__/
./client/src/test/product/__snapshots__/
./client/src/test/promotion/__snapshots__/
